fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pandas
faker
alembic
pydantic[email]
python-dotenv
python-multipart
python-jose[cryptography]
passlib[argon2]>=1.7.4
argon2-cffi>=21.3.0
redis
slowapi
pytest
httpx
requests